<div class="jumbotron jumbotron-fluid" style="height: 80vh; margin-top:-18px;">

    <div class="container">
      <h1 class="display-3">Fishackathon 2018!</h1><hr>
      <p class="lead">
          Bringing the world together to protect life in our waters, make fisheries 
          and aquaculture more sustainable and equitable, and preserve our planet’s future.</p>
    </div>

    <br>

    <div class="container">
        <h2>Presented by:</h2>
        <div class="well well-lg">Martha Barrett <br> Dalhousie University (Mechanical Engineering)</div>
        <br>
        <div class="well well-lg">Emran Billah <br> Dalhousie University (Computer Engineering)</div>
    </div>

    <br><br><br>
    
</div>
    

