<div class="jumbotron jumbotron-fluid" style="min-height: 80vh; margin-top:-18px;">
    
    <!-- <div class="container">
      <h1 class="display-3">Log Catch</h1><hr>
      <p class="lead"></p>
    </div>

    <br>

    <div class="container">
        <h2>User Location:</h2>
        <div class="well well-lg">
            <div class="row">
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                    Latitude:
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    {{user.latitude}}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                    Longitude:
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    {{user.longitude}}
                </div>
            </div>
            <hr>
        </div>
    </div> -->

    <div class="map" id="map"></div>

    <br><br><br>
        
</div>
        
    
    