<div class="jumbotron jumbotron-fluid" style="height: 80vh; margin-top:-18px;">

        <div class="container">
          <h1 class="display-3">View Profiles</h1><hr>
          <p class="lead">
              View Fish Profiles
          </p>
        </div>
    
        <br>
    
        <div class="container">
            <h2>Presented by:</h2>
            <div class="well well-lg">Martha Barrett <br> Dalhousie University (Mechanical Engineering)</div>
            <br>
            <div class="well well-lg">Emran Billah <br> Dalhousie University (Computer Engineering)</div>
        </div>
    
        <br><br><br>
        
    </div>
        
    
    